<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>254654995595-sffarrnasdlpoptepifceagbv2cft8b3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.254654995595-sffarrnasdlpoptepifceagbv2cft8b3</string>
	<key>API_KEY</key>
	<string>AIzaSyDg44NPyBYck3-noULZiApsM5SjXlk4ShE</string>
	<key>GCM_SENDER_ID</key>
	<string>254654995595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.guardiaimperial.shoes4u.Shoes4u</string>
	<key>PROJECT_ID</key>
	<string>shoes4u-57761</string>
	<key>STORAGE_BUCKET</key>
	<string>shoes4u-57761.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254654995595:ios:d1979824286ce5a5b7488e</string>
</dict>
</plist>